fastapi
uvicorn
python-decouple
sqlalchemy
shortuuid
pydantic[email]

aiosqlite
bcrypt
cffi
fastapi
h11
h2
hpack
hyperframe
iso8601
passlib
pkg-resources
priority
pycparser
pydantic
PyJWT
PyPika
python-multipart
pytz
six
starlette
toml
tortoise-orm
typing-extensions
wsproto