.charAxesArea {
	width: 14.5rem;
	display: flex;
	flex-direction: column;
}
.chartAxis {
	flex: 1;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 0.25rem 0.5rem;
}
.chartAxis:nth-child(1) {
	margin-top: 0;
}
