.dataViewer {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.dataViewerMenu {
	background-color: rgb(211, 211, 211);
	height: 2rem;
	width: 100%;
	align-self: center;
	display: flex;
}

/* ========================================================================================== */
/* Menu items styling */
.menuItemsGroup {
	flex: 1;
	display: flex;
}
.menuItem {
	border-radius: 2px;
	cursor: pointer;
	transition: 0.2s;
	line-height: 2rem;
	padding: 0 12px;
}
.menuItem:hover {
	transition: 0.2s;
	background-color: rgb(238, 238, 238);
}

/* ========================================================================================== */
/* TabRibbon styling */

.tabItems {
	height: 1.75rem;
	font-size: 12px;
	margin: 0;
	padding: 2px 0 0 0;
	text-align: left;
	background-color: rgb(238, 238, 238);
	/* border-bottom: 1px solid rgb(211, 211, 211); */
}

/* ========================================================================================== */
/* TileRibbon Styling */
.tilearea {
	width: 100%;
	background-color: rgb(238, 238, 238);
	display: flex;
}
.tileItems {
	height: 1.75rem;
	font-size: 12px;
	width: 100%;
	flex: 1;
	margin: 0;
	padding: 0 0 2px 0;
	text-align: left;
	/* border-top: 1px solid rgb(211, 211, 211); */
}
.tableDisplayToggle {
	height: 1.75rem;
	line-height: 1.75rem;
	cursor: pointer;
	border-left: 2px solid darkgray;
}
.tableDisplayToggleImg {
	margin: 0;
	padding-top: 5px;
	height: 1.5rem;
	vertical-align: top;
}
