.dataViewerBottom {
	height: 10rem;
	width: 100%;
	display: flex;
	overflow: hidden;
	background-color: rgb(238, 238, 238);
}

.dataSetAndTableList {
	width: 14.5rem;
	padding: 0.5rem 0.5rem 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-size: 14px;
}

.tileTableView {
	flex: 1;
	overflow: auto;
}
.tileTableList {
	margin-top: 0.5rem;

	overflow: auto;
}
.dsIndiTableInTile {
	background-color: white;
	margin: 0 0.25rem 0.25rem 0;
	padding: 1px 0 1px 0.5rem;
	text-align: left;
	cursor: pointer;
}
.dsIndiTableInTile:hover {
	background-color: rgb(211, 211, 211);
}
.dsIndiTableInTileSelected {
	background-color: white;
	font-weight: 600;
	border: 1px solid rgb(0, 123, 255);
	color: rgb(0, 123, 255);
	margin: 0 0.25rem 0.25rem 0;
	padding: 1px 0 1px 0.5rem;
	text-align: left;
	cursor: pointer;
}
.displayTable {
	width: 100%;
	font-size: 12px;
	text-align: left;
	background-color: rgb(211, 211, 211);
	border-collapse: collapse;
	color: rgb(51, 51, 51);
}
.tableHeadings {
	padding: 0 10px 0 0;
	border-radius: 2px;
	position: sticky;
	top: 0;
	background-color: rgb(211, 211, 211);
	font-weight: normal;
	cursor: move;
	font-weight: 600;
}
.tableHeadings:hover {
	background-color: rgb(189, 189, 189);
}
.tableRows:nth-child(odd) {
	background-color: white;
}
.tableRows:nth-child(even) {
	background-color: rgb(238, 238, 238);
}
.tableValues {
	padding: 0 10px 0 20px;
}
