/* 
===================================================
Data Setup Page
=================================================== 
*/

.dataSetup {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    /* display: flex; */
    padding: 2rem;
    box-sizing: border-box;
}

.dcds {
    /* flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1rem; */
    display: grid;
    grid-template-rows: 50% 50%;
}

.dataConnectionContainer {
    flex: 1;
    overflow: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}

.dataSetContainer {
    box-sizing: border-box;
    margin-top: 2rem;
    flex: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}

.dashboardsContainer {
    flex: 1;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}

.containersHead {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 1rem;
    font-weight: 600;
    display: flex;
    border-bottom: 1px solid rgb(192, 192, 192);
}

.containerTitle {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    flex: 1;
}
.containerButton {
    background-color: black;
    border: none;
    border-radius: 3px;
    color: white;
    height: 35px;
    width: 60px;
    font-size: 18px;
}

/* 
===================================================
Data Connections
=================================================== 
*/

.dataConnectionList {
    margin: 8px;
    background-color: rgb(184, 180, 180);
    border-radius: 3px;
    display: flex;
    padding: 10px;
    height: 30px;
}

/* 
===================================================
Datasets
=================================================== 
*/

/* 
-------------------------------------------------
DashboardList
------------------------------------------------- 
*/
