/* 
===================================================
Data Setup Page
=================================================== 
*/

.dataSetup {
    height: 100vh;
    display: flex;
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.dcds {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    overflow: hidden;
}

.dataConnectionContainer {
    flex: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    box-sizing: border-box;
    margin-bottom: 2rem;
    overflow: auto;
}

.dataSetContainer {
    flex: 1;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    overflow: hidden;
}
/* .connectionListContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
} */

.dashboardsContainer {
    flex: 1;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
}

.containersHead {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 1rem;
    font-weight: 600;
    display: flex;
    border-bottom: 1px solid rgb(192, 192, 192);
    overflow: hidden;
}

.containerTitle {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    flex: 1;
}
.containerButton {
    background-color: #46d0fa;
    border: none;
    border-radius: 3px;
    color: white;
    height: 35px;
    width: 60px;
    font-size: 18px;
}

/* 
===================================================
Data Connections
=================================================== 
*/

.dataConnectionList {
    margin: 10px;
    background-color: rgb(250, 250, 250);
    border-radius: 3px;
    display: flex;
    padding: 5px;
}

.dataConnectionName {
    flex: 1;
    text-align: left;
}

.inputFieldStyle {
    margin-top: 25px;
}

/* 
===================================================
Datasets
=================================================== 
*/

/* 
-------------------------------------------------
DashboardList
------------------------------------------------- 
*/
