.canvas {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
}

.canvasStyle {
	display: grid;
	min-height: 92vh;
	grid-template-columns: repeat(auto-fit, 230px);
	position: relative;
	overflow-y: auto;
}

.draggableBox {
	border: 1px solid #d7d9db;
	max-width: 300px;
	margin: 20px;
	display: inline-block;
}

.bottomBar {
	height: 8vh;
	background-color: #f0f0f0;
	border-top: 1px solid #e4e4e4;
	/* display: flex; */
	width: 100%;
}
.bottomBar .MuiButton-contained {
	height: 30px;
	float: right;
	margin: 20px;
}

.bottomBar .MuiOutlinedInput-input {
	height: 15px;
	/* float: left; */
}

.draggableTable {
	display: inline-block;
	margin: 20px;
}

.draggableBoxTitle {
	/* text-align: center; */
	cursor: pointer;
	background-color: #d7d9db;
	padding: 5px 10px;
	display: flex;
}

.columnBox {
	position: relative;
	padding: 5px;
	border-top: 1px solid #d7d9db;
	display: flex;
}

.columnItem {
	padding: auto;
	cursor: pointer;
}

.ellip {
	flex: 1;
	padding: auto 10px;
	text-align: left;
}

.ellip:hover {
	white-space: normal;
	/* overflow: hidden; */
	text-overflow: unset;
	width: fit-content;
	text-align: left;
	/* background-color: white; */
}
.connectPoint {
	opacity: 0.5;
	background-color: grey;
}
.connectPoint:hover {
	background-color: rgb(95, 95, 95);
	opacity: 1;
}
/* 
----------------------------------------------
Relationship popover
---------------------------------------------- 
*/
.relpopoverContainer {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: auto;
}
.relpopoverItem {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

#setButton {
	background-color: rgb(26, 111, 221);
	color: white;
	margin-top: 1rem;
}

/* #cancelBtn { */
/* background-color: red; */
/* color: white; */
/* margin-top: 1rem; */
/* } */
.relpopoverSelect {
	height: 40px;
	min-width: 12rem;
}
.tbl_clm_name {
	display: flex;
	justify-content: space-around;
	height: 2rem;
	align-items: center;
	color: rgb(75, 75, 75);
	font-style: italic;
}
.integrityAndcardinality {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 80px;
	text-align: center;
	/* width: 4rem; */
}
#relTitle {
	align-self: center;
	margin: 0;
	color: rgb(9, 13, 255);
	font-weight: bold;
}
.selIntegerityandCadinality {
	align-self: center;
	justify-self: center;
	margin: 0.5rem;
	color: rgb(232, 15, 240);
	padding: 5px;
}

.draggableBoxTitle .tooltiptext {
	visibility: hidden;
	background-color: rgb(252, 249, 249);
	text-align: center;
	padding: 2px;
	font-size: 12px;
	width: 120px;
	border: 1px solid black;
	position: absolute;
	z-index: 1;
	top: -5px;
	left: 105%;
	opacity: 0;
	transition: opacity 3s;
}

.draggableBoxTitle:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
