fastapi
uvicorn
python-decouple
sqlalchemy
shortuuid
pydantic[email]
cryptography
aiosqlite
bcrypt
cffi
fastapi
h11
h2
hpack
hyperframe
iso8601
passlib
pkg-resources
priority
psycopg-binary
pycparser
pydantic
PyJWT
PyMySQL
PyPika
python-multipart
pytz
six
starlette
toml
typing-extensions
wsproto